ldaptive {
  org.ldaptive.jaas.LdapLoginModule required
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    userFilter="(mail={user})"
    userRoleAttribute="departmentNumber"
    credentialConfig="{trustCertificates=classpath:/ldaptive.trust.crt}";
};

ldaptive-ssl {
  org.ldaptive.jaas.LdapLoginModule required
    ldapUrl="${ldapSslTestHost}"
    baseDn="${ldapBaseDn}"
    useSSL="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    userFilter="(mail={user})"
    userRoleAttribute="departmentNumber"
    credentialConfig="org.ldaptive.ssl.X509CredentialConfig{{trustCertificates=file:target/test-classes/ldaptive.trust.crt}}";
};

ldaptive-random {
  org.ldaptive.jaas.LdapLoginModule required
    ldapUrl="ldap://ed-dne.middleware.vt.edu ${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    ldapProvider="org.ldaptive.provider.jndi.JndiProvider"
    connectionStrategy="RANDOM"
    setLdapDnPrincipal="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    userFilter="(mail={user})"
    userRoleAttribute="departmentNumber"
    credentialConfig="{trustCertificates=file:target/test-classes/ldaptive.trust.crt}";
};

ldaptive-roles {
  org.ldaptive.jaas.LdapLoginModule required
    storePass="true"
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    userFilter="(mail={user})"
    userRoleAttribute="departmentNumber"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
  org.ldaptive.jaas.LdapRoleAuthorizationModule optional
    useFirstPass="true"
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    roleFilter="(mail={user})"
    roleAttribute="cn,givenName,sn"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
};

ldaptive-roles-recursive {
  org.ldaptive.jaas.LdapLoginModule required
    storePass="true"
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    userFilter="(mail={user})"
    userRoleAttribute="departmentNumber"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
  org.ldaptive.jaas.LdapRoleAuthorizationModule required
    useFirstPass="true"
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    roleFilter="(member={dn})"
    roleAttribute="uugid"
    searchEntryHandlers="org.ldaptive.handler.RecursiveEntryHandler{{searchAttribute=member}{mergeAttributes=uugid}}"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
};

ldaptive-use-first {
  org.ldaptive.jaas.TestLoginModule required;
  org.ldaptive.jaas.LdapLoginModule required
    useFirstPass="true"
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    userFilter="(mail={user})"
    userRoleAttribute="departmentNumber"
    defaultRole="test-role1,test-role2"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
};

ldaptive-try-first {
  org.ldaptive.jaas.TestLoginModule required;
  org.ldaptive.jaas.LdapLoginModule required
    tryFirstPass="true"
    storePass="true"
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    userFilter="(mail={user})"
    userRoleAttribute="departmentNumber"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
  org.ldaptive.jaas.LdapRoleAuthorizationModule optional
    useFirstPass="true"
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    roleFilter="(mail={user})"
    roleAttribute="cn,givenName,sn"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
};

ldaptive-sufficient {
  org.ldaptive.jaas.LdapLoginModule sufficient
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    userFilter="(mail={user})"
    userRoleAttribute="departmentNumber"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
  org.ldaptive.jaas.LdapLoginModule sufficient
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    userFilter="(mail={user})"
    userRoleAttribute="departmentNumber"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
};

ldaptive-roles-only {
  org.ldaptive.jaas.LdapRoleAuthorizationModule required
    useFirstPass="true"
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    roleFilter="(uid=10)"
    roleAttribute="departmentNumber,cn,givenName,sn"
    principalGroupName="Principals"
    roleGroupName="Roles"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
};

ldaptive-dn-roles-only {
  org.ldaptive.jaas.LdapDnAuthorizationModule required
    storePass="true"
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    userFilter="(mail={user})"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
  org.ldaptive.jaas.LdapRoleAuthorizationModule required
    useFirstPass="true"
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    roleFilter="(mail={user})"
    roleAttribute="departmentNumber,cn,givenName,sn"
    principalGroupName="Principals"
    roleGroupName="Roles"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
};

ldaptive-roles-only-pooled {
  org.ldaptive.jaas.LdapRoleAuthorizationModule required
    useFirstPass="true"
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    roleFilter="(uid=10)"
    roleAttribute="departmentNumber,cn,givenName,sn"
    principalGroupName="Principals"
    roleGroupName="Roles"
    roleResolver="org.ldaptive.jaas.PooledSearchRoleResolver"
    cacheId="ldaptive-roles-only-pooled"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
};

ldaptive-pooled-dnr {
  org.ldaptive.jaas.LdapLoginModule required
    ldapUrl="${ldapTestHost}"
    baseDn="${ldapBaseDn}"
    useStartTLS="true"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    userFilter="(&(mail={user})(objectClass={0}))"
    userFilterParameters="person"
    dnResolver="org.ldaptive.auth.PooledSearchDnResolver"
    authenticationHandler="org.ldaptive.auth.PooledBindAuthenticationHandler"
    cacheId="ldaptive-pooled-dnr"
    credentialConfig="org.ldaptive.ssl.KeyStoreCredentialConfig{{trustStore=classpath:/ldaptive.truststore} {trustStoreType=BKS}}";
};

ldaptive-pooled-dnr-spring {
  org.ldaptive.jaas.LdapLoginModule required
    authenticatorFactory="org.ldaptive.jaas.SpringAuthenticatorFactory";
};

ldaptive-props {
  org.ldaptive.jaas.PropsLoginModule required
    ldapProvider="org.ldaptive.provider.jndi.JndiProvider"
    ldapUrl="${ldapTestHost}"
    bindDn="${ldapBindDn}"
    bindCredential="${ldapBindCredential}"
    connectTimeout="8000"
    useStartTLS="true"
    java.naming.authoritative="true"
    baseDn="${ldapBaseDn}"
    searchScope="OBJECT"
    timeLimit="5000"
    binaryAttributes="jpegPhoto"
    searchEntryHandlers="org.ldaptive.handler.RecursiveEntryHandler{{searchAttribute=member}{mergeAttributes=mail,department}},org.ldaptive.handler.MergeAttributeEntryHandler{ }"
    authenticationHandler="org.ldaptive.auth.CompareAuthenticationHandler"
    dnResolver="org.ldaptive.auth.PooledSearchDnResolver"
    minPoolSize="1"
    maxPoolSize="3"
    validatePeriodically="true"
    validator="org.ldaptive.pool.SearchValidator"
    pruneStrategy="org.ldaptive.pool.IdlePruneStrategy{{prunePeriod=60}{idleTime=120}"
    setLdapDnPrincipal="true"
    userFilter="(mail={user})"
    userRoleAttribute="departmentNumber"
    credentialConfig="{trustCertificates=file:target/test-classes/ldaptive.trust.crt}";
};

com.sun.security.jgss.initiate {
  com.sun.security.auth.module.Krb5LoginModule required
    doNotPrompt="true"
    debug="true"
    principal="test3"
    useKeyTab="true"
    keyTab="target/test-classes/krb5.keytab";
};

GSSAPIBindRequest {
  com.sun.security.auth.module.Krb5LoginModule required
    doNotPrompt="true"
    debug="true"
    principal="test3"
    useKeyTab="true"
    keyTab="target/test-classes/krb5.keytab";
};
