<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n%ex{5}</pattern>
    </encoder>
  </appender>

  <logger name="org.ldaptive" level="INFO" />
  <logger name="org.ldaptive.ad" level="INFO" />
  <logger name="org.ldaptive.async" level="INFO" />
  <logger name="org.ldaptive.auth" level="INFO" />
  <logger name="org.ldaptive.beans" level="INFO" />
  <logger name="org.ldaptive.jaas" level="INFO" />
  <logger name="org.ldaptive.pool" level="INFO" />
  <logger name="org.ldaptive.props" level="INFO" />
  <logger name="org.ldaptive.ssl" level="INFO" />
  <logger name="org.ldaptive.transport" level="INFO" />

  <!-- uncomment for netty event logging
  <logger name="org.ldaptive.transport.netty.NettyConnection" level="DEBUG" />
  <logger name="io.netty.handler.logging.LoggingHandler" level="DEBUG" />
  -->

  <logger name="org.ldaptive.io" level="DEBUG" />
  <logger name="org.springframework" level="ERROR" />
  <logger name="io.netty.channel" level="DEBUG" />

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
