<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ldaptive="http://www.ldaptive.org/schema/spring-ext"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.ldaptive.org/schema/spring-ext http://www.ldaptive.org/schema/spring-ext.xsd">

  <context:property-placeholder location="classpath:/spring-ext.properties"/>

  <ldaptive:anonymous-search-authenticator
    ldapUrl="${ldap.url}"
    trustCertificates="classpath:/ldaptive.trust.crt"
    baseDn="${ldap.baseDn}"
    userFilter="(mail={user})"
    connectTimeout="${ldap.connectTimeout}"
    useStartTLS="${ldap.useStartTLS}"
    blockWaitTime="${ldap.pool.blockWaitTime}"
    maxPoolSize="${ldap.pool.maxSize}"
    minPoolSize="${ldap.pool.minSize}"
  />

  <ldaptive:bind-search-authenticator
    ldapUrl="${ldap.url}"
    trustStore="classpath:/ldaptive.truststore"
    trustStorePassword="changeit"
    trustStoreType="BKS"
    baseDn="${ldap.baseDn}"
    userFilter="(mail={user})"
    bindDn="${ldap.bindDn}"
    bindCredential="${ldap.bindCredential}"
    connectTimeout="${ldap.connectTimeout}"
    useStartTLS="${ldap.useStartTLS}"
    blockWaitTime="${ldap.pool.blockWaitTime}"
    maxPoolSize="${ldap.pool.maxSize}"
    minPoolSize="${ldap.pool.minSize}">
    <ldaptive:authentication-response-handler>
      <ldaptive:password-policy-handler/>
    </ldaptive:authentication-response-handler>
  </ldaptive:bind-search-authenticator>

  <ldaptive:sasl-bind-search-authenticator
    id="sasl-auth"
    mechanism="DIGEST_MD5"
    ldapUrl="${ldap.url}"
    trustCertificates="classpath:/ldaptive.trust.crt"
    baseDn="${ldap.baseDn}"
    userFilter="(mail={user})"
    bindDn="test3@vt.edu"
    bindCredential="password"
    connectTimeout="${ldap.connectTimeout}"
    useStartTLS="${ldap.useStartTLS}"
    blockWaitTime="${ldap.pool.blockWaitTime}"
    maxPoolSize="${ldap.pool.maxSize}"
    allowMultipleDns="${ldap.allowMultipleDns:false}"
    minPoolSize="${ldap.pool.minSize}"
    validateOnCheckOut="${ldap.pool.validateOnCheckout:false}"
    validatePeriodically="${ldap.pool.validatePeriodically:true}"
    validatePeriod="${ldap.pool.validatePeriod:300}"
    idleTime="${ldap.pool.idleTime:600}"
    prunePeriod="${ldap.pool.prunePeriod:300}"
    failFastInitialize="false"
    subtreeSearch="${ldap.subtreeSearch:true}"
    useSSL="false">
    <ldaptive:authentication-response-handler>
      <ldaptive:password-expiration-handler/>
    </ldaptive:authentication-response-handler>
  </ldaptive:sasl-bind-search-authenticator>

  <ldaptive:direct-authenticator
    ldapUrl="${ldap.url}"
    trustCertificates="${ldap.trustCertificates}"
    format="cn=%s,${ldap.baseDn}"
    connectTimeout="${ldap.connectTimeout}"
    useStartTLS="${ldap.useStartTLS}"
    blockWaitTime="${ldap.pool.blockWaitTime}"
    maxPoolSize="${ldap.pool.maxSize}"
    minPoolSize="${ldap.pool.minSize}">
    <ldaptive:authentication-response-handler>
      <ldaptive:free-ipa-handler expirationPeriod="${ldap.auth.expirationPeriod}" warningPeriod="${ldap.auth.warningPeriod}" maxLoginFailures="4"/>
    </ldaptive:authentication-response-handler>
  </ldaptive:direct-authenticator>

  <ldaptive:ad-authenticator
    ldapUrl="${ldap.url}"
    baseDn="${ldap.baseDn}"
    userFilter="(mail={user})"
    bindDn="${ldap.bindDn}"
    bindCredential="${ldap.bindCredential}"
    trustCertificates="classpath:/ldaptive.trust.crt"
    connectTimeout="${ldap.connectTimeout}"
    useStartTLS="${ldap.useStartTLS}"
    blockWaitTime="${ldap.pool.blockWaitTime}"
    maxPoolSize="${ldap.pool.maxSize}"
    minPoolSize="${ldap.pool.minSize}"
  />

  <ldaptive:pooled-connection-factory
    ldapUrl="${ldap.url}"
    trustStore="${ldap.trustStore}"
    trustStoreType="${ldap.trustStoreType}"
  />

  <ldaptive:connection-factory
    ldapUrl="${ldap.url}"
    trustCertificates="classpath:/ldaptive.trust.crt"
  />

  <ldaptive:search-executor
    baseDn="${ldap.baseDn}"
    searchFilter="(mail=*)"
    returnAttributes="cn,givenName,sn"
    searchScope="ONELEVEL"
    timeLimit="${ldap.timeLimit}"
    sizeLimit="${ldap.sizeLimit}"
    binaryAttributes="jpegPhoto,userCertificate"
    sortBehavior="ORDERED"
  />

</beans>
