<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

  <bean id="connectionFactory"
    class="org.ldaptive.DefaultConnectionFactory"
    p:connectionConfig-ref="connectionConfig"
  />
  
  <bean id="connectionConfig"
    class="org.ldaptive.ConnectionConfig"
    p:ldapUrl="${ldapTestHost}"
    p:useStartTLS="true"
    p:sslConfig-ref="sslConfig"
    p:connectionInitializers-ref="bindConnectionInitializer"
  />

  <bean id="bindConnectionInitializer"
    class="org.ldaptive.BindConnectionInitializer"
    p:bindDn="${ldapBindDn}"
    p:bindCredential="${ldapBindCredential}"
  />

  <bean id="sslConfig"
    class="org.ldaptive.ssl.SslConfig"
    p:credentialConfig-ref="credentialConfig"
  />
  
  <bean id="credentialConfig" 
    class="org.ldaptive.ssl.CredentialConfigFactory" 
    factory-method="createX509CredentialConfig">
    <constructor-arg>
      <value>-----BEGIN CERTIFICATE-----
MIIDTTCCAjWgAwIBAgIJAIYan5mtC9IZMA0GCSqGSIb3DQEBCwUAMD0xEzARBgoJ
kiaJk/IsZAEZFgNlZHUxEjAQBgoJkiaJk/IsZAEZFgJ2dDESMBAGA1UEAwwJbGRh
cC10ZXN0MB4XDTE4MTIwNzE2MDg0MFoXDTQ3MDQyNDE2MDg0MFowPTETMBEGCgmS
JomT8ixkARkWA2VkdTESMBAGCgmSJomT8ixkARkWAnZ0MRIwEAYDVQQDDAlsZGFw
LXRlc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC5ceaNXQS4d67S
xVOIM+ZkaIBOPEIhhOekPGBMsIiJX6GnK58R+ILCgH8VNlVwLIpdMKtKfgVJbyfO
p3M+78hv3ugd3s4H1UxCgr09aZ9fKJt+KXRwnKVIDGlYueBCr7fNaY6DscwzZEC2
q6+g+7bpQHkomNWPZeA2XTK79YirV/PCCWJ1TlTCdgVrdFkL5iR936pgdX+EnX6x
ZF2hzAS94sYVnWnI9gNmDq5SnTvmhK48myBbruNBeWs+PirXV9+ObgsHN7AUeder
fCLAV0LsZVMkFfUYVeNRwBmGP4/qT9pTq4J4eEygqerU2LDw2JcPMDeS1BVtL8sJ
msKNhahDAgMBAAGjUDBOMB0GA1UdDgQWBBTHuK+zzEQhBxi9TP7imO+XOlzjUDAf
BgNVHSMEGDAWgBTHuK+zzEQhBxi9TP7imO+XOlzjUDAMBgNVHRMEBTADAQH/MA0G
CSqGSIb3DQEBCwUAA4IBAQCuD1zLFHjE+x5yoxkp/QhrW4v1in3bkJbNP4b4tV+P
vufPiFovCUUugeo9JlHVc35Sy/ZygClSYAnQPEjQt3hd36QIiKQtBPm2i1QTBcqm
rs3cCDud4GXqfxnMxIJSGrt8Fijinfp7Ud6Tr9dn4PGIcPYkeP15n/0s1W0FoHcF
NDGCY4GgqPEL5GTpnpfHmwRYDz/4InQ3Fs1BXZWabEsjOss2zVAljqWVtes+dS9k
jTFpJgFWMTxh2jsEiUidtC3bHI0ia3NGnAKxAwaBZxQjR7+sAmLURJGY78J7tYDT
CSMnEM+FM0RytOa7/pnCwsgtZ72h+WD32r02RzPzX6j4
-----END CERTIFICATE-----</value>
    </constructor-arg>
  </bean>

</beans>
