<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ldaptive="http://www.ldaptive.org/schema/spring-ext"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.ldaptive.org/schema/spring-ext http://www.ldaptive.org/schema/spring-ext.xsd">

  <context:property-placeholder location="classpath:/spring-ext.properties"/>

  <ldaptive:anonymous-search-authenticator
    ldapUrl="${ldap.url}"
    trustCertificates="classpath:/ldaptive.trust.crt"
    baseDn="${ldap.baseDn}"
    userFilter="(mail={user})"
    connectTimeout="${ldap.connectTimeout}"
    useStartTLS="${ldap.useStartTLS}"
    blockWaitTime="${ldap.pool.blockWaitTime}"
    maxPoolSize="${ldap.pool.maxSize}"
    minPoolSize="${ldap.pool.minSize}"
  />

  <ldaptive:gssapi-search-authenticator id="authenticator"
      ldapUrl="${ldap.url}"
      baseDn="${ldap.baseDn}"
      userFilter="${ldap.authn.searchFilter}"
      bindDn="${ldap.managerDn}"
      connectTimeout="${ldap.connectTimeout}"
      useStartTLS="${ldap.useStartTLS:false}"
      blockWaitTime="${ldap.pool.blockWaitTime}"
      maxPoolSize="${ldap.pool.maxSize}"
      allowMultipleDns="${ldap.allowMultipleDns:false}"
      minPoolSize="${ldap.pool.minSize}"
      validateOnCheckOut="${ldap.pool.validateOnCheckout}"
      validatePeriodically="${ldap.pool.validatePeriodically}"
      validatePeriod="${ldap.pool.validatePeriod}"
      idleTime="${ldap.pool.idleTime}"
      prunePeriod="${ldap.pool.prunePeriod}"
      failFastInitialize="true"
      subtreeSearch="${ldap.subtree.search:true}"
      useSSL="${ldap.use.ssl:true}"
      authenticationResponseHandlers="freeIpaAuthenticationResponseHandlers"
      saslRealm="${ldap.authn.bindSaslRealm}"
      />

  <bean id="freeIpaAuthenticationResponseHandlers">
      <util:list>
          <ldaptive:free-ipa-handler warningPeriod="P15D" expirationPeriod="P90D" maxLoginFailures="4" />
      </util:list>
  </bean>

  <ldaptive:bind-search-authenticator
    ldapUrl="${ldap.url}"
    trustStore="classpath:/ldaptive.truststore"
    trustStorePassword="changeit"
    trustStoreType="BKS"
    baseDn="${ldap.baseDn}"
    userFilter="(mail={user})"
    bindDn="${ldap.bindDn}"
    bindCredential="${ldap.bindCredential}"
    connectTimeout="${ldap.connectTimeout}"
    useStartTLS="${ldap.useStartTLS}"
    usePasswordPolicy="${ldap.ppolicy}"
    blockWaitTime="${ldap.pool.blockWaitTime}"
    maxPoolSize="${ldap.pool.maxSize}"
    minPoolSize="${ldap.pool.minSize}"
  />

  <ldaptive:direct-authenticator
    ldapUrl="${ldap.url}"
    trustCertificates="${ldap.trustCertificates}"
    format="cn=%s,${ldap.baseDn}"
    connectTimeout="${ldap.connectTimeout}"
    useStartTLS="${ldap.useStartTLS}"
    blockWaitTime="${ldap.pool.blockWaitTime}"
    maxPoolSize="${ldap.pool.maxSize}"
    minPoolSize="${ldap.pool.minSize}"
  />

  <ldaptive:ad-authenticator
    ldapUrl="${ldap.url}"
    baseDn="${ldap.baseDn}"
    userFilter="(mail={user})"
    bindDn="${ldap.bindDn}"
    bindCredential="${ldap.bindCredential}"
    trustCertificates="classpath:/ldaptive.trust.crt"
    connectTimeout="${ldap.connectTimeout}"
    useStartTLS="${ldap.useStartTLS}"
    blockWaitTime="${ldap.pool.blockWaitTime}"
    maxPoolSize="${ldap.pool.maxSize}"
    minPoolSize="${ldap.pool.minSize}"
  />

  <ldaptive:pooled-connection-factory
    ldapUrl="${ldap.url}"
    trustStore="${ldap.trustStore}"
    trustStoreType="${ldap.trustStoreType}"
  />

  <ldaptive:connection-factory
    ldapUrl="${ldap.url}"
    trustCertificates="classpath:/ldaptive.trust.crt"
  />

  <ldaptive:search-executor
    baseDn="${ldap.baseDn}"
    searchFilter="(mail=*)"
    returnAttributes="cn,givenName,sn"
    searchScope="ONELEVEL"
    timeLimit="${ldap.timeLimit}"
    sizeLimit="${ldap.sizeLimit}"
    binaryAttributes="jpegPhoto,userCertificate"
    sortBehavior="ORDERED"
  />

</beans>
