<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

  <bean id="conversionService"
        class="org.springframework.context.support.ConversionServiceFactoryBean">
    <property name="converters">
      <set>
        <bean class="org.ldaptive.beans.spring.convert.StringToDurationConverter"/>
        <bean class="org.ldaptive.beans.spring.convert.DurationToStringConverter"/>
      </set>
    </property>
  </bean>

  <bean id="pool"
    class="org.ldaptive.pool.BlockingConnectionPool"
    init-method="initialize"
    p:blockWaitTime="PT5S"
    p:validator-ref="compareValidator">
    <constructor-arg index="0">
      <bean class="org.ldaptive.pool.PoolConfig"
        p:minPoolSize="5"
        p:maxPoolSize="20"
        p:validatePeriodically="true"
        p:validatePeriod="PT30S"
      />
    </constructor-arg>
    <constructor-arg index="1" ref="connectionFactory"/>
  </bean>
  
  <bean id="compareValidator"
    class="org.ldaptive.pool.CompareValidator"
  />
  
  <bean id="connectionFactory"
    class="org.ldaptive.DefaultConnectionFactory"
    p:connectionConfig-ref="connectionConfig"
  />
  
  <bean id="connectionConfig"
    class="org.ldaptive.ConnectionConfig"
    p:ldapUrl="${ldapTestHost}"
    p:useStartTLS="true"
    p:sslConfig-ref="sslConfig"
    p:connectionInitializers-ref="bindConnectionInitializer"
  />

  <bean id="sslConfig"
    class="org.ldaptive.ssl.SslConfig"
    p:credentialConfig-ref="credentialConfig"
  />

  <bean id="bindConnectionInitializer"
    class="org.ldaptive.BindConnectionInitializer"
    p:bindDn="${ldapBindDn}"
    p:bindCredential="${ldapBindCredential}"
  />

  <bean id="credentialConfig"
    class="org.ldaptive.ssl.KeyStoreCredentialConfig"
    p:keyStore="classpath:/ldaptive.p12"
    p:keyStoreType="PKCS12"
    p:keyStorePassword="changeit"
    p:trustStore="classpath:/ldaptive.truststore"
    p:trustStoreType="JKS"
    p:trustStorePassword="changeit"
  />

</beans>
