<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>LdifSearch</servlet-name>
    <servlet-class>org.ldaptive.servlets.SearchServlet</servlet-class>
    <init-param>
      <param-name>searchExecutorClass</param-name>
      <param-value>org.ldaptive.servlets.LdifServletSearchExecutor</param-value>
    </init-param>
    <init-param>
      <param-name>ldapUrl</param-name>
      <param-value>${ldapTestHost}</param-value>
    </init-param>
    <init-param>
      <param-name>baseDn</param-name>
      <param-value>${ldapBaseDn}</param-value>
    </init-param>
    <init-param>
      <param-name>bindDn</param-name>
      <param-value>${ldapBindDn}</param-value>
    </init-param>
    <init-param>
      <param-name>bindCredential</param-name>
      <param-value>${ldapBindCredential}</param-value>
    </init-param>
    <init-param>
      <param-name>poolType</param-name>
      <param-value>BLOCKING</param-value>
    </init-param>
    <init-param>
      <param-name>blockWaitTime</param-name>
      <param-value>5000</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>DsmlSearch</servlet-name>
    <servlet-class>org.ldaptive.servlets.SearchServlet</servlet-class>
    <init-param>
      <param-name>ldapUrl</param-name>
      <param-value>${ldapTestHost}</param-value>
    </init-param>
    <init-param>
      <param-name>baseDn</param-name>
      <param-value>${ldapBaseDn}</param-value>
    </init-param>
    <init-param>
      <param-name>bindDn</param-name>
      <param-value>${ldapBindDn}</param-value>
    </init-param>
    <init-param>
      <param-name>bindCredential</param-name>
      <param-value>${ldapBindCredential}</param-value>
    </init-param>
    <init-param>
      <param-name>poolType</param-name>
      <param-value>SOFTLIMIT</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>AttributeSearch</servlet-name>
    <servlet-class>org.ldaptive.servlets.SearchServlet</servlet-class>
    <init-param>
      <param-name>searchExecutorClass</param-name>
      <param-value>org.ldaptive.servlets.AttributeValueServletSearchExecutor</param-value>
    </init-param>
    <init-param>
      <param-name>ldapUrl</param-name>
      <param-value>${ldapTestHost}</param-value>
    </init-param>
    <init-param>
      <param-name>baseDn</param-name>
      <param-value>${ldapBaseDn}</param-value>
    </init-param>
    <init-param>
      <param-name>bindDn</param-name>
      <param-value>${ldapBindDn}</param-value>
    </init-param>
    <init-param>
      <param-name>bindCredential</param-name>
      <param-value>${ldapBindCredential}</param-value>
    </init-param>
    <init-param>
      <param-name>poolType</param-name>
      <param-value>BLOCKING</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>TemplatesLdifSearch</servlet-name>
    <servlet-class>org.ldaptive.servlets.SearchServlet</servlet-class>
    <init-param>
      <param-name>searchExecutorClass</param-name>
      <param-value>org.ldaptive.servlets.LdifServletSearchTemplatesExecutor</param-value>
    </init-param>
    <init-param>
      <param-name>springContextPath</param-name>
      <param-value>/templates-context.xml</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>TemplatesDsmlSearch</servlet-name>
    <servlet-class>org.ldaptive.servlets.SearchServlet</servlet-class>
    <init-param>
      <param-name>searchExecutorClass</param-name>
      <param-value>org.ldaptive.servlets.Dsmlv1ServletSearchTemplatesExecutor</param-value>
    </init-param>
    <init-param>
      <param-name>springContextPath</param-name>
      <param-value>/templates-context.xml</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>TemplatesJsonSearch</servlet-name>
    <servlet-class>org.ldaptive.servlets.SearchServlet</servlet-class>
    <init-param>
      <param-name>searchExecutorClass</param-name>
      <param-value>org.ldaptive.servlets.JsonServletSearchTemplatesExecutor</param-value>
    </init-param>
    <init-param>
      <param-name>springContextPath</param-name>
      <param-value>/templates-context.xml</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>TemplatesLdifIgnoreSearch</servlet-name>
    <servlet-class>org.ldaptive.servlets.SearchServlet</servlet-class>
    <init-param>
      <param-name>searchExecutorClass</param-name>
      <param-value>org.ldaptive.servlets.LdifServletSearchTemplatesExecutor</param-value>
    </init-param>
    <init-param>
      <param-name>springContextPath</param-name>
      <param-value>/templates-context.xml</param-value>
    </init-param>
    <init-param>
      <param-name>ignorePattern</param-name>
      <param-value>^\w{1,2}$</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LdifSearch</servlet-name>
    <url-pattern>/LdifSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DsmlSearch</servlet-name>
    <url-pattern>/DsmlSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttributeSearch</servlet-name>
    <url-pattern>/AttributeSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TemplatesLdifSearch</servlet-name>
    <url-pattern>/TemplatesLdifSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TemplatesDsmlSearch</servlet-name>
    <url-pattern>/TemplatesDsmlSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TemplatesJsonSearch</servlet-name>
    <url-pattern>/TemplatesJsonSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TemplatesLdifIgnoreSearch</servlet-name>
    <url-pattern>/TemplatesLdifIgnoreSearch</url-pattern>
  </servlet-mapping>
</web-app>
