<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ldaptive" verbose="1" parallel="tests" thread-count="1">

  <parameter name="ldapTestsIgnoreLock" value="${ldapTestsIgnoreLock}"/>
  <parameter name="ldapTestHost" value="${ldapTestHost}"/>
  <parameter name="ldapSslTestHost" value="${ldapSslTestHost}"/>
  <parameter name="ldapBaseDn" value="${ldapBaseDn}"/>
  <parameter name="ldapBindDn" value="${ldapBindDn}"/>
  <parameter name="ldapBindCredential" value="${ldapBindCredential}"/>

  <!-- ldap test parameters -->
  <parameter name="createEntry2"
             value="/org/ldaptive/createLdapEntry-2.ldif"/>
  <parameter name="createEntry3"
             value="/org/ldaptive/createLdapEntry-3.ldif"/>
  <parameter name="createEntry4"
             value="/org/ldaptive/createLdapEntry-4.ldif"/>
  <parameter name="createEntry5"
             value="/org/ldaptive/createLdapEntry-5.ldif"/>
  <parameter name="createEntry6"
             value="/org/ldaptive/createLdapEntry-6.ldif"/>
  <parameter name="createEntry7"
             value="/org/ldaptive/createLdapEntry-7.ldif"/>
  <parameter name="createEntry8"
             value="/org/ldaptive/createLdapEntry-8.ldif"/>
  <parameter name="createEntry9"
             value="/org/ldaptive/createLdapEntry-9.ldif"/>
  <parameter name="createEntry10"
             value="/org/ldaptive/createLdapEntry-10.ldif"/>
  <parameter name="createEntry11"
             value="/org/ldaptive/createLdapEntry-11.ldif"/>
  <parameter name="createEntry12"
             value="/org/ldaptive/createLdapEntry-12.ldif"/>
  <parameter name="createEntry13"
             value="/org/ldaptive/createLdapEntry-13.ldif"/>
  <parameter name="createEntry14"
             value="/org/ldaptive/createLdapEntry-14.ldif"/>
  <parameter name="createEntry15"
             value="/org/ldaptive/createLdapEntry-15.ldif"/>
  <parameter name="createEntry16"
             value="/org/ldaptive/createLdapEntry-16.ldif"/>
  <parameter name="createEntry17"
             value="/org/ldaptive/createLdapEntry-17.ldif"/>
  <parameter name="createEntry18"
             value="/org/ldaptive/createLdapEntry-18.ldif"/>
  <parameter name="createEntry19"
             value="/org/ldaptive/createLdapEntry-19.ldif"/>
  <parameter name="createEntry20"
             value="/org/ldaptive/createLdapEntry-20.ldif"/>
  <parameter name="createEntry21"
             value="/org/ldaptive/createLdapEntry-21.ldif"/>
  <parameter name="createEntry22"
             value="/org/ldaptive/createLdapEntry-22.ldif"/>
  <parameter name="createEntry23"
             value="/org/ldaptive/createLdapEntry-23.ldif"/>
  <parameter name="createEntry25"
             value="/org/ldaptive/createLdapEntry-25.ldif"/>
  <parameter name="createEntry26"
             value="/org/ldaptive/createLdapEntry-26.ldif"/>
  <parameter name="createEntry27"
             value="/org/ldaptive/createLdapEntry-27.ldif"/>
  <parameter name="createEntry28"
             value="/org/ldaptive/createLdapEntry-28.ldif"/>
  <parameter name="createEntry29"
             value="/org/ldaptive/createLdapEntry-29.ldif"/>
  <parameter name="createEntry30"
             value="/org/ldaptive/createLdapEntry-30.ldif"/>
  <parameter name="createEntry31"
             value="/org/ldaptive/createLdapEntry-31.ldif"/>
  <parameter name="createEntry32"
             value="/org/ldaptive/createLdapEntry-32.ldif"/>

  <parameter name="createGroup2"
             value="/org/ldaptive/createGroupEntry-2.ldif"/>
  <parameter name="createGroup3"
             value="/org/ldaptive/createGroupEntry-3.ldif"/>
  <parameter name="createGroup4"
             value="/org/ldaptive/createGroupEntry-4.ldif"/>
  <parameter name="createGroup5"
             value="/org/ldaptive/createGroupEntry-5.ldif"/>
  <parameter name="createGroup6"
             value="/org/ldaptive/createGroupEntry-6.ldif"/>
  <parameter name="createGroup7"
             value="/org/ldaptive/createGroupEntry-7.ldif"/>
  <parameter name="createGroup8"
             value="/org/ldaptive/createGroupEntry-8.ldif"/>
  <parameter name="createGroup9"
             value="/org/ldaptive/createGroupEntry-9.ldif"/>

  <parameter name="createSpecialCharsEntry"
             value="/org/ldaptive/specialChars.ldif"/>
  <parameter name="createSpecialCharsEntry2"
             value="/org/ldaptive/specialChars-2.ldif"/>

  <parameter name="multipleLdifResultsIn"
             value="/org/ldaptive/multipleEntriesIn.ldif"/>
  <parameter name="multipleLdifResultsOut"
             value="/org/ldaptive/multipleEntriesOut.ldif"/>
  <parameter name="ldifEntry"
             value="/org/ldaptive/dfisher.ldif"/>
  <parameter name="ldifSortedEntry"
             value="/org/ldaptive/dfisher.sorted.ldif"/>

  <parameter name="dsmlv1Entry"
             value="/org/ldaptive/dfisher.dsmlv1"/>
  <parameter name="dsmlv1SortedEntry"
             value="/org/ldaptive/dfisher.sorted.dsmlv1"/>
  <parameter name="dsmlv2Entry"
             value="/org/ldaptive/dfisher.dsmlv2"/>
  <parameter name="dsmlv2SortedEntry"
             value="/org/ldaptive/dfisher.sorted.dsmlv2"/>

  <parameter name="searchResults2"
             value="/org/ldaptive/searchResults-2.ldif"/>
  <parameter name="searchResults3"
             value="/org/ldaptive/searchResults-3.ldif"/>
  <parameter name="searchResults4"
             value="/org/ldaptive/searchResults-4.ldif"/>
  <parameter name="searchResults5"
             value="/org/ldaptive/searchResults-5.ldif"/>
  <parameter name="searchResults6"
             value="/org/ldaptive/searchResults-6.ldif"/>
  <parameter name="searchResults7"
             value="/org/ldaptive/searchResults-7.ldif"/>
  <parameter name="searchResults8"
             value="/org/ldaptive/searchResults-8.ldif"/>
  <parameter name="searchResults9"
             value="/org/ldaptive/searchResults-9.ldif"/>
  <parameter name="searchResults10"
             value="/org/ldaptive/searchResults-10.ldif"/>
  <parameter name="searchResults11"
             value="/org/ldaptive/searchResults-11.ldif"/>
  <parameter name="searchResults12"
             value="/org/ldaptive/searchResults-12.ldif"/>
  <parameter name="searchResults13"
             value="/org/ldaptive/searchResults-13.ldif"/>
  <parameter name="searchResults14"
             value="/org/ldaptive/searchResults-14.ldif"/>
  <parameter name="searchResults15"
             value="/org/ldaptive/searchResults-15.ldif"/>

  <parameter name="searchDn" value="${ldapBaseDn}"/>
  <parameter name="searchFilter" value="(uid={0})"/>
  <parameter name="searchFilterParameters" value="2"/>
  <parameter name="searchReturnAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="searchResults"
             value="/org/ldaptive/searchResults-2.ldif"/>

  <parameter name="recursiveSearchDn" value="${ldapBaseDn}"/>
  <parameter name="recursiveSearchFilter" value="(uugid={0})"/>
  <parameter name="recursiveSearchFilterParameters" value="group2"/>
  <parameter name="recursiveSearchReturnAttrs" value="cn|contactPerson|creationDate|member|objectClass|uid|uugid"/>
  <parameter name="recursiveHandlerResults"
             value="/org/ldaptive/recursiveHandlerResults.ldif"/>

  <parameter name="recursiveSearch2Dn" value="${ldapBaseDn}"/>
  <parameter name="recursiveSearch2Filter" value="(|(uugid=group1)(uugid=group2)(uugid=group3)(uugid=group4)(uugid=group5))"/>
  <parameter name="recursiveSearch2ReturnAttrs" value="member"/>
  <parameter name="recursiveHandlerResults2"
             value="/org/ldaptive/recursiveHandlerResults-2.ldif"/>

  <parameter name="mergeSearchDn" value="${ldapBaseDn}"/>
  <parameter name="mergeSearchFilter" value="(|(uugid=group3)(uugid=group4)(uugid=group5))"/>
  <parameter name="mergeSearchReturnAttrs" value="cn|contactPerson|creationDate|member|objectClass|uid|uugid"/>
  <parameter name="mergeSearchResults"
             value="/org/ldaptive/mergeResults.ldif"/>

  <parameter name="mergeDuplicateSearchDn" value="${ldapBaseDn}"/>
  <parameter name="mergeDuplicateSearchFilter" value="(|(uugid=group3)(uugid=group4)(uugid=group5))"/>
  <parameter name="mergeDuplicateReturnAttrs" value="cn|contactPerson|creationDate|member|objectClass|uid|uugid"/>
  <parameter name="mergeDuplicateSearchResults"
             value="/org/ldaptive/mergeDuplicateResults.ldif"/>

  <parameter name="mergeAttributeSearchDn" value="${ldapBaseDn}"/>
  <parameter name="mergeAttributeSearchFilter" value="(uid=2)"/>
  <parameter name="mergeAttributeReturnAttrs" value="cn|departmentNumber|displayName|givenName|sn|uid"/>
  <parameter name="mergeAttributeSearchResults"
             value="/org/ldaptive/mergeAttributeResults.ldif"/>

  <parameter name="binarySearchDn" value="${ldapBaseDn}"/>
  <parameter name="binarySearchFilter" value="(uid=2)"/>
  <parameter name="binarySearchReturnAttr" value="jpegPhoto"/>
  <parameter name="binarySearchResult"
             value="/9j/4AAQSkZJRgABAQEASABIAAD//gATQ3JlYXRlZCB3aXRoIEdJTVD/2wBDAFA3PEY8MlBGQUZaVVBfeMiCeG5uePWvuZHI////////////////////////////////////////////////////2wBDAVVaWnhpeOuCguv/////////////////////////////////////////////////////////////////////////wAARCAANABcDASIAAhEBAxEB/8QAGAAAAwEBAAAAAAAAAAAAAAAAAAIEAQP/xAAiEAEAAgIABQUAAAAAAAAAAAABAAMCEQQSMUFxISIjMnP/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A71fHZZW+ge48MWqvG0bLMRcnZvsdpnGH0R0ryvhlAAAdCBPRTXkZ7wHWaEI/D9LP0yhA/9k="/>

  <parameter name="rangeSearchDn" value="${ldapBaseDn}"/>
  <parameter name="rangeSearchFilter" value="(uugid=group550000)"/>
  <parameter name="rangeSearchReturnAttrs" value="cn|member|uid|uugid"/>
  <parameter name="rangeHandlerResults"
             value="/org/ldaptive/rangeHandlerResults.ldif"/>

  <parameter name="miscADControlsHost" value="${ldapTestHost}"/>
  <parameter name="miscADControlsDn" value="${ldapBaseDn}"/>
  <parameter name="miscADControlsFilter" value="(CN=Test Admin)"/>

  <parameter name="statsSearchDn" value="${ldapBaseDn}"/>
  <parameter name="statsSearchFilter" value="(uid=2)"/>

  <parameter name="specialCharSearchDn" value="${ldapBaseDn}"/>
  <parameter name="specialCharSearchFilter" value="(&amp;(uid=17893)(sn={0}))"/>
  <parameter name="specialCharSearchFilterParameters" value="(Us\er)*"/>
  <parameter name="specialCharBinarySearchFilter" value="(&amp;(uid=17893)(givenName={0}))"/>
  <parameter name="specialCharBinarySearchFilterParameters" value="VGVzdA=="/>
  <parameter name="specialCharReturnAttrs" value="cn|givenName|sn|uid"/>
  <parameter name="specialCharSearchResults"
             value="/org/ldaptive/specialCharsResults.ldif"/>

  <parameter name="rewriteSearchDn" value="dc=blah"/>
  <parameter name="rewriteSearchFilter" value="(uid=17893)"/>
  <parameter name="rewriteSearchResults"
             value="/org/ldaptive/specialChars.ldif"/>

  <parameter name="searchExceededDn" value="${ldapBaseDn}"/>
  <parameter name="searchExceededFilter" value="(|(uugid=group2)(uugid=group3)(uugid=group4))"/>
  <parameter name="searchExceededResultsSize" value="3"/>

  <parameter name="searchReferralDn" value="${ldapBaseDn}"/>
  <parameter name="searchReferralFilter" value="(objectClass=*)"/>

  <parameter name="searchReferenceDn" value="${ldapBaseDn}"/>
  <parameter name="searchReferenceFilter" value="(objectClass=*)"/>

  <parameter name="searchActiveDirectoryDn" value="${ldapBaseDn}"/>
  <parameter name="searchActiveDirectoryFilter" value="(objectClass=*)"/>

  <parameter name="searchRetryDn" value="ou=dne,${ldapBaseDn}"/>
  <parameter name="searchRetryResultCode" value="NO_SUCH_OBJECT"/>

  <parameter name="getAttributesDn" value="cn=John Adams,${ldapBaseDn}"/>
  <parameter name="getAttributesReturnAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="getAttributesResults"
             value="departmentNumber=0822|givenName=John|sn=Adams"/>

  <parameter name="getAttributesBase64Dn" value="cn=John Adams,${ldapBaseDn}"/>
  <parameter name="getAttributesBase64ReturnAttrs" value="sn|jpegPhoto"/>
  <parameter name="getAttributesBase64Results"
             value="sn=Adams|jpegPhoto=/9j/4AAQSkZJRgABAQEASABIAAD//gATQ3JlYXRlZCB3aXRoIEdJTVD/2wBDAFA3PEY8MlBGQUZaVVBfeMiCeG5uePWvuZHI////////////////////////////////////////////////////2wBDAVVaWnhpeOuCguv/////////////////////////////////////////////////////////////////////////wAARCAANABcDASIAAhEBAxEB/8QAGAAAAwEBAAAAAAAAAAAAAAAAAAIEAQP/xAAiEAEAAgIABQUAAAAAAAAAAAABAAMCEQQSMUFxISIjMnP/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A71fHZZW+ge48MWqvG0bLMRcnZvsdpnGH0R0ryvhlAAAdCBPRTXkZ7wHWaEI/D9LP0yhA/9k="/>

  <parameter name="pagedSearchDn" value="${ldapBaseDn}"/>
  <parameter name="pagedSearchFilter" value="(|(uugid=group2)(uugid=group3)(uugid=group4)(uugid=group5))"/>
  <parameter name="pagedSearchReturnAttrs" value="cn|contactPerson|creationDate|objectClass|member|uid|uugid"/>
  <parameter name="pagedSearchResults" value="/org/ldaptive/pagedResults.ldif"/>

  <parameter name="virtualListViewSearchDn" value="${ldapBaseDn}"/>
  <parameter name="virtualListViewSearchFilter" value="(|(uugid=group2)(uugid=group3)(uugid=group4)(uugid=group5))"/>
  <parameter name="virtualListViewSearchReturnAttrs" value="cn|contactPerson|creationDate|objectClass|member|uid|uugid"/>
  <parameter name="virtualListViewSearchResults" value="/org/ldaptive/virtualListViewResults.ldif"/>

  <parameter name="sortSearchDn" value="${ldapBaseDn}"/>
  <parameter name="sortSearchFilter" value="(|(uugid=group2)(uugid=group3)(uugid=group4)(uugid=group5))"/>

  <parameter name="proxyAuthzFrom" value="${ldapBindDn}"/>
  <parameter name="proxyAuthzTo" value="CN=John Adams,${ldapBaseDn}"/>
  <parameter name="proxyAuthzSearchDn" value="${ldapBaseDn}"/>
  <parameter name="proxyAuthzSearchFilter" value="(CN=John Adams)"/>

  <parameter name="searchAsyncDn" value="${ldapBaseDn}"/>
  <parameter name="searchAsyncFilter" value="(uid=17)"/>
  <parameter name="searchAsyncReturnAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="searchAsyncResults" value="/org/ldaptive/searchResults-17.ldif"/>

  <parameter name="syncReplSearchDn" value="cn=Ulysses Grant,${ldapBaseDn}"/>
  <parameter name="syncReplSearchReturnAttrs" value="cn|employeeType|mail|objectClass|sn|uid"/>
  <parameter name="syncReplSearchResults" value="/org/ldaptive/syncReplResults.ldif"/>

  <parameter name="persistentSearchDn" value="cn=Herbert Hoover,${ldapBaseDn}"/>
  <parameter name="persistentSearchReturnAttrs" value="cn|mail|objectClass|sn|uid"/>
  <parameter name="persistentSearchResults" value="/org/ldaptive/persistentSearchResults.ldif"/>

  <parameter name="vlvSearchDn" value="${ldapBaseDn}"/>
  <parameter name="vlvSearchFilter" value="(|(uid=19)(uid=20)(uid=21))"/>

  <parameter name="prSearchDn" value="${ldapBaseDn}"/>
  <parameter name="prSearchFilter" value="(|(uid=22)(uid=23)(uid=25))"/>

  <parameter name="dsSearchDn" value="${ldapBaseDn}"/>
  <parameter name="dsSearchFilter" value="(|(uid=27)(uid=28)(uid=29))"/>

  <parameter name="getSchemaDn" value="${ldapBaseDn}"/>
  <parameter name="getSchemaResults"
             value="/org/ldaptive/getSchemaResults.ldif"/>

  <parameter name="ncSearchDn" value="${ldapBindDn}"/>

  <parameter name="bindDn" value="cn=Franklin Roosevelt,${ldapBaseDn}"/>
  <parameter name="bindPasswd" value="password32"/>

  <parameter name="compareDn" value="cn=Thomas Jefferson,${ldapBaseDn}"/>
  <parameter name="compareAttrName" value="departmentNumber"/>
  <parameter name="compareAttrValue" value="0823"/>

  <parameter name="compareReferralDn" value="${ldapBaseDn}"/>
  <parameter name="compareReferralAttrName" value="objectClass"/>
  <parameter name="compareReferralAttrValue" value="organizationalUnit"/>

  <parameter name="addAttributeDn" value="cn=James Madison,${ldapBaseDn}"/>
  <parameter name="addAttributeAttribute"
             value="title=Test User"/>

  <parameter name="addAttributesDn" value="cn=James Madison,${ldapBaseDn}"/>
  <parameter name="addAttributesAttributes"
             value="telephoneNumber=15408675309|homePhone=15555555555"/>

  <parameter name="replaceAttributeDn" value="cn=James Madison,${ldapBaseDn}"/>
  <parameter name="replaceAttributeAttribute"
             value="title=Best Test User"/>

  <parameter name="replaceAttributesDn" value="cn=James Madison,${ldapBaseDn}"/>
  <parameter name="replaceAttributesAttributes"
             value="telephoneNumber=12223334444|homePhone=155566677777"/>

  <parameter name="removeAttributeDn" value="cn=James Madison,${ldapBaseDn}"/>
  <parameter name="removeAttributeAttribute"
             value="title=Best Test User"/>

  <parameter name="removeAttributesDn" value="cn=James Madison,${ldapBaseDn}"/>
  <parameter name="removeAttributesAttributes"
             value="telephoneNumber=12223334444|homePhone=155566677777"/>

  <parameter name="modifyOldDn" value="cn=James Monroe,${ldapBaseDn}"/>
  <parameter name="modifyNewDn" value="cn=James Spence Monroe,${ldapBaseDn}"/>

  <parameter name="digestMd5SearchDn" value="${ldapBaseDn}"/>
  <parameter name="digestMd5SearchFilter" value="(uid={0})"/>
  <parameter name="digestMd5SearchFilterParameters" value="2"/>
  <parameter name="digestMd5SearchReturnAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="digestMd5SearchResults"
             value="/org/ldaptive/searchResults-2.ldif"/>

  <parameter name="cramMd5SearchDn" value="${ldapBaseDn}"/>
  <parameter name="cramMd5SearchFilter" value="(uid={0})"/>
  <parameter name="cramMd5SearchFilterParameters" value="test3"/>
  <parameter name="cramMd5SearchReturnAttrs" value="cn|sn|uid"/>
  <parameter name="cramMd5SearchResults"
             value="/org/ldaptive/test3.ldif"/>

  <parameter name="saslExternalSearchDn" value="${ldapBaseDn}"/>
  <parameter name="saslExternalSearchFilter" value="(uid={0})"/>
  <parameter name="saslExternalSearchFilterParameters" value="2"/>
  <parameter name="saslExternalSearchReturnAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="saslExternalSearchResults"
             value="/org/ldaptive/searchResults-2.ldif"/>

  <parameter name="krb5Realm" value="VT.EDU"/>
  <parameter name="krb5Kdc" value="${ldapTestHost}"/>
  <parameter name="gssApiSearchDn" value="${ldapBaseDn}"/>
  <parameter name="gssApiSearchFilter" value="(uid={0})"/>
  <parameter name="gssApiSearchFilterParameters" value="2"/>
  <parameter name="gssApiSearchReturnAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="gssApiSearchResults"
             value="/org/ldaptive/searchResults-2.ldif"/>

  <parameter name="loadPropertiesUrl" value="${ldapTestHost}"/>
  <parameter name="loadPropertiesBaseDn" value="${ldapBaseDn}"/>

  <parameter name="getDnCn" value="John Quincy Adams"/>
  <parameter name="getDnUser" value="jqadams@ldaptive.org"/>
  <parameter name="getDnDuplicateFilter" value="(cn=*)"/>

  <parameter name="authenticateDn" value="cn=John Quincy Adams,${ldapBaseDn}"/>
  <parameter name="authenticateDnCredential" value="password6"/>
  <parameter name="authenticateDnFilter" value="(departmentNumber={0})"/>
  <parameter name="authenticateDnFilterParameters" value="0826"/>
  <parameter name="authenticateDnReturnAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="authenticateDnResults"
             value="/org/ldaptive/searchResults-6.ldif"/>
             
  <parameter name="authenticateUser" value="jqadams@ldaptive.org"/>
  <parameter name="authenticateCredential" value="password6"/>
  <parameter name="authenticateFilter" value="(departmentNumber=0826)"/>
  <parameter name="authenticateReturnAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="authenticateResults"
             value="/org/ldaptive/searchResults-6.ldif"/>

  <parameter name="authenticateSpecialCharsUser" value="17894"/>
  <parameter name="authenticateSpecialCharsCredential" value="password17894"/>

  <parameter name="digestMd5User" value="test3@vt.edu"/>
  <parameter name="digestMd5Credential" value="password"/>

  <parameter name="cramMd5User" value="test3"/>
  <parameter name="cramMd5Credential" value="password"/>

  <parameter name="passwordModifyDn" value="cn=Abraham Lincoln,${ldapBaseDn}"/>
  <parameter name="passwordModifyOldPass" value="password16"/>
  <parameter name="passwordModifyNewPass" value="emancipator"/>

  <parameter name="cancelDn" value="${ldapBaseDn}"/>

  <parameter name="toSearchResultsDn" value="${ldapBaseDn}"/>
  <parameter name="toSearchResultsFilter" value="(uid=7)"/>
  <parameter name="toSearchResultsAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="toSearchResultsResults"
             value="/org/ldaptive/searchResults-7.ldif"/>

  <parameter name="cliAddArgs"
             value="-ldapUrl|${ldapTestHost}|-bindDn|${ldapBindDn}|-bindCredential|${ldapBindCredential}|-file|target/test-classes/org/ldaptive/createLdapEntry-8.ldif"/>
  <parameter name="cliSearchArgs"
             value="-ldapUrl|${ldapTestHost}|-baseDn|${ldapBaseDn}|-bindDn|${ldapBindDn}|-bindCredential|${ldapBindCredential}|-searchFilter|(mail=mvburen@ldaptive.org)|-returnAttributes|departmentNumber,givenName,jpegPhoto,sn"/>
  <parameter name="cliSearchResults"
             value="/org/ldaptive/searchResults-8.ldif"/>
  <parameter name="cliCompareArgs"
             value="-ldapUrl|${ldapTestHost}|-bindDn|${ldapBindDn}|-bindCredential|${ldapBindCredential}|-dn|cn=Martin Van Buren,${ldapBaseDn}|-attribute|sn:buren"/>
  <parameter name="cliDeleteArgs"
             value="-ldapUrl|${ldapTestHost}|-bindDn|${ldapBindDn}|-bindCredential|${ldapBindCredential}|-dn|cn=Martin Van Buren,${ldapBaseDn}"/>

  <parameter name="cliAuthTLSArgs"
             value="-ldapUrl|${ldapTestHost}|-baseDn|${ldapBaseDn}|-useStartTLS|true|-bindDn|${ldapBindDn}|-bindCredential|${ldapBindCredential}|-userFilter|(mail={user})|-user|whharrison@ldaptive.org|-credential|password9|-returnAttributes|departmentNumber,givenName,sn"/>
  <parameter name="cliAuthSSLArgs"
             value="-ldapUrl|${ldapSslTestHost}|-baseDn|${ldapBaseDn}|-useSSL|true|-bindDn|${ldapBindDn}|-bindCredential|${ldapBindCredential}|-userFilter|(mail={user})|-user|whharrison@ldaptive.org|-credential|password9|-returnAttributes|departmentNumber,givenName,sn"/>
  <parameter name="cliAuthResults"
             value="/org/ldaptive/searchResults-9.ldif"/>

  <parameter name="jaasDn" value="cn=John Tyler,${ldapBaseDn}"/>
  <parameter name="jaasUser" value="jtyler@ldaptive.org"/>
  <parameter name="jaasUserRole" value="0830"/>
  <parameter name="jaasUserRoleDefault" value="0830|test-role1|test-role2"/>
  <parameter name="jaasRole" value="John Tyler|John|Tyler"/>
  <parameter name="jaasRoleCombined" value="0830|John Tyler|John|Tyler"/>
  <parameter name="jaasRoleCombinedRecursive" value="0830|group6|group7|group8|group9"/>
  <parameter name="jaasCredential" value="password10"/>

  <parameter name="webXml" value="target/test-classes/web.xml"/>

  <parameter name="ldifSearchServletQuery" value="(mail=jkpolk@ldaptive.org)"/>
  <parameter name="ldifSearchServletAttrs" value="departmentNumber|givenName|sn|jpegPhoto"/>
  <parameter name="ldifSearchServletLdif" value="/org/ldaptive/searchResults-11.ldif"/>

  <parameter name="dsmlSearchServletQuery" value="(uid=11)"/>
  <parameter name="dsmlSearchServletAttrs" value="departmentNumber|givenName|sn|jpegPhoto"/>
  <parameter name="dsmlSearchServletLdif" value="/org/ldaptive/searchResults-11.ldif"/>

  <parameter name="jsonSearchServletQuery" value="(uid=11)"/>
  <parameter name="jsonSearchServletAttrs" value="departmentNumber|givenName|sn|jpegPhoto"/>
  <parameter name="jsonSearchServletLdif" value="/org/ldaptive/searchResults-11.ldif"/>

  <parameter name="attributeServletQuery" value="(&amp;(givenName=zachary)(sn=taylor))"/>
  <parameter name="attributeServletAttr" value="jpegPhoto"/>
  <parameter name="attributeServletValue" value="/9j/4AAQSkZJRgABAQEASABIAAD//gATQ3JlYXRlZCB3aXRoIEdJTVD/2wBDAFA3PEY8MlBGQUZaVVBfeMiCeG5uePWvuZHI////////////////////////////////////////////////////2wBDAVVaWnhpeOuCguv/////////////////////////////////////////////////////////////////////////wAARCAANABcDASIAAhEBAxEB/8QAGAAAAwEBAAAAAAAAAAAAAAAAAAIEAQP/xAAiEAEAAgIABQUAAAAAAAAAAAABAAMCEQQSMUFxISIjMnP/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A71fHZZW+ge48MWqvG0bLMRcnZvsdpnGH0R0ryvhlAAAdCBPRTXkZ7wHWaEI/D9LP0yhA/9k="/>

  <parameter name="ldifTemplateSearchQuery" value="jkpolk"/>
  <parameter name="ldifTemplateSearchAttrs" value="departmentNumber|givenName|sn|jpegPhoto"/>
  <parameter name="ldifTemplateSearchLdif" value="/org/ldaptive/searchResults-11.ldif"/>

  <parameter name="dsmlTemplateSearchQuery" value="james polk"/>
  <parameter name="dsmlTemplateSearchAttrs" value="departmentNumber|givenName|sn|jpegPhoto"/>
  <parameter name="dsmlTemplateSearchLdif" value="/org/ldaptive/searchResults-11.ldif"/>

  <parameter name="jsonTemplateSearchQuery" value="polk"/>
  <parameter name="jsonTemplateSearchAttrs" value="departmentNumber|givenName|sn|jpegPhoto"/>
  <parameter name="jsonTemplateSearchLdif" value="/org/ldaptive/searchResults-11.ldif"/>

  <parameter name="dsmlSearchDn" value="${ldapBaseDn}"/>
  <parameter name="dsmlSearchFilter" value="(uid=13)"/>

  <parameter name="ldifSearchDn" value="${ldapBaseDn}"/>
  <parameter name="ldifSearchFilter" value="(uid=14)"/>

  <parameter name="sleepTime" value="15000"/>

  <listeners>
    <listener class-name="org.ldaptive.SkipTestInvokedMethodListener" />
  </listeners>

  <test name="tests">
    <groups>
      <define name="core">
        <include name="bean" />
        <include name="bind" />
        <include name="props" />
        <include name="search" />
        <include name="search-with-retry" />
        <include name="compare" />
        <include name="modify" />
        <include name="modifyDn" />
        <include name="merge" />
        <include name="extended" />
        <include name="async" />
        <include name="control-util" />
        <include name="spring" />
        <include name="auth" />
        <include name="jaas" />
        <include name="servlet" />
        <include name="dsml" />
        <include name="ldif" />
        <include name="ssl" />
        <include name="cli" />
        <include name="templates" />
        <include name="beans-generate" />
        <include name="beans-mapper" />
        <include name="conn" />
      </define>
      <define name="core-sysprops">
        <include name="ssl-hostname" />
        <include name="authcli" />
      </define>
      <define name="load">
        <include name="authload" />
      </define>
      <define name="pool">
        <include name="validator" />
        <include name="softlimitpool" />
        <include name="blockingpool" />
        <include name="blockingtimeoutpool" />
        <include name="connstrategypool" />
      </define>
    </groups>
    <run>
      <include name="${ldapTestGroup}"/>
    </run>
    <packages>
      <package name="org.ldaptive.*" />
    </packages>
  </test>
</suite>
